{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "BileMo API",
    "description" : "API de BilMo",
    "contact" : {
      "email" : "contact@jeremy-monlouis.fr"
    },
    "version" : "1.0.0"
  },
  "servers" : [
    {
      "url" : "https://bilemo.jm-projets.fr/api/"
    },
    {
      "url" : "https://bilemo.jrm.test/api/"
    }
  ],
  "tags" : [ {
    "name" : "users",
    "description" : "Operations disponible pour tout le monde"
  }, {
    "name" : "clients",
    "description" : "Clients authentifiés"
  } ],
  "paths" : {
    "/products" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Liste des produits",
        "description" : "Liste tous les produits de BileMo\n",
        "operationId" : "searchProducts",
        "responses" : {
          "200" : {
            "description" : "Liste des produits",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/{ref}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Détails d'un produit",
        "description" : "Affiche les détails d'un produit",
        "operationId" : "searchProduct",
        "parameters" : [ {
          "name" : "ref",
          "in" : "path",
          "description" : "Référence du produit",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Détails d'un produit",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          # "400" : {
          #   "description" : "bad input parameter"
          # }
        }
      }
    },
    "/users/{client}" : {
      "get" : {
        "tags" : [ "clients" ],
        "summary" : "Liste des utilisateurs",
        "description" : "Liste tous les utilisateurs d'un client",
        "operationId" : "searchUsers",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "description" : "ID du client",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Liste des utilisateurs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}" : {
      "get" : {
        "tags" : [ "clients" ],
        "summary" : "Détails d'un utilisateur",
        "description" : "Affiche les détails d'un utilisateur",
        "operationId" : "searchUser",
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "description" : "ID de l'utilisateur",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Détails d'un utilisateur",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "clients" ],
        "summary" : "Suppression d'un utilisateur",
        "description" : "Supprime un utilisateur",
        "operationId" : "deleteUser",
        "parameters" : [ {
          "name" : "user_id",
          "in" : "path",
          "description" : "ID de l'utilisateur",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Utilisateur supprimé",
          },
          # "400" : {
          #   "description" : "bad input parameter"
          # }
        }
      }
    },
    "/user/{client}" : {
      "post" : {
        "tags" : [ "clients" ],
        "summary" : "Création d'un utilisateur",
        "description" : "Création d'un utilisateur",
        "operationId" : "addUser",
        "parameters" : [ {
          "name" : "client",
          "in" : "path",
          "description" : "ID du client",
          "required" : true,
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Utilisateur à ajouter",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "first_name" : {
                    "type" : "string"
                  },
                  "last_name" : {
                    "type" : "string"
                  }
                }
              },
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Utilisateur créé",
          },
          # "400" : {
          #   "description" : "invalid input, object invalid"
          # },
          # "409" : {
          #   "description" : "an existing item already exists"
          # }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Product" : {
        "required" : [ "id", "ref", "name"],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "ref" : {
            "type" : "string",
          },
          "name" : {
            "type" : "string",
          }
        }
      },
      "User" : {
        "required" : [ "id", "first_name", "last_name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "first_name" : {
            "type" : "string",
          },
          "last_name" : {
            "type" : "string",
          },
          "orders" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Order"
            }
          }
        }
      },
      "Order" : {
        "required" : [ "id", "user" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "user" : {
            "$ref" : "#/components/schemas/User"
          },
          "carts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Cart"
            }
          },
        }
      },
      "Cart" : {
        "required" : [ "id", "product" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "product" : {
            "$ref" : "#/components/schemas/Product"
          },
          "quantity" : {
            "type" : "integer"
          }
        }
      }
    }
  }
}